body {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100% 100%;
}

table {
    background: #e8dede;
    background-size: 100% 100%;
	border-radius: 20px;
	-webkit-box-shadow: 0px -2px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -2px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -2px 30px 0px rgba(0,0,0,0.75);
}

.verticalLine {
    border-right: thin solid grey;
	height: 98.88%;
	margin-right: 10px;
}

footer {
	background: #e8dede;
	background-size: 100% 100%;
	padding: 30px;
	margin-bottom: 0px;
	margin-top: 5px;
	
	-webkit-box-shadow: inset 0px 10px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 10px 11px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 10px 11px 0px rgba(0,0,0,0.75);
	
}

td#menu img{	
	position: relative;
	width: 170px;
	height: 250px;
	margin: 5px 5px 0 5px;
	background-color: #7e8491;
	padding: 20px 20px 50px 20px;
	display: block;
	-webkit-transition: ease 0.4s;
}

td#menu img:hover{
	display: block;
	height: 210px;
	background-color: white;
	padding-bottom: 90px;
	box-shadow: 8px 8px 8px #888888;
}


td#yan img{
	width: 150px;
	height: 200px;
	margin: 15px 0 15px 0;

}

ul, li{
	margin:5px;
	padding:0;
	list-style: none;
}

.column{
    float: left;
    margin: 0 0 0 0;
}

.box{
	background-color: #912222;
}

.reklam {
	color: #ffffff;
        position: relative;
	bottom: 16px;
	font-family: Arial;
	font-size: 22px;
}

#wrapper .text {
	color: black;
	position:relative;
	bottom:95px;
	left:0px;
	visibility:hidden;
	font-family: Agency FB;
	font-size: 25px;
}

#wrapper:hover .text {
	visibility:visible;
}

.alt{
	visibility:hidden;
}

.alt:hover{
	visibility:visible;
}